.projectCard {
  width: 90vw;
  height: 100%;
  padding: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  align-self: center;
  justify-self: center;
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectCardContent {
  display: flex;
  flex-direction: row;

  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 500px;
  overflow-x: hidden;

  overflow-y: auto;

  gap: 20px;
}

.projectCardTextDiv {
  width: 100%;
}

.TextImageDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.logoH1Div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.logoImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.projectCardImgDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 400px;
}

.projectCardDescription {
  max-width: 400px;
}

.projectCardImage {
  width: 100%;
  height: 100%;
  scale: 1;
  border-radius: 20px;
}

.p {
  width: auto;
  max-width: 400px;
}

.cardImgDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 50vw;
  height: auto;
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 20px;
  pointer-events: none;
}

.cardImg {
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
  scale: 1.5;

  border: none;

  box-shadow:
    0 0 40px 10px var(--secondary-color-2),
    0 0 0 4px rgba(0, 0, 0, 0.2);
}

.imgAndCaptionDiv {
  display: flex;
  flex-direction: column;
}

.shareIcon,
.copyIcon,
.rocketIcon,
.githubIcon {
  color: var(--tertiary-color) !important;
}

.shareIcon:hover,
.copyIcon:hover {
  background-color: var(--secondary-color) !important;
}

.shareIcon:active,
.copyIcon:active {
  transform: scale(1.4) !important;
}

.projectPageTextDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.projectPageMainImageDiv {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 20px;
  margin-bottom: 0;
}

.projectPageMainImage {
  width: 80%;
  height: 80%;
  object-fit: contain;
  border-radius: 20px;
}

.projectPageMsgImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
  scale: 1.5;
}

.projectPageMsgImgDiv {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
}

.projectPageMsgImgDivBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Ul {
  margin: 0;
  width: 100%;
  max-width: 600px;
  padding: 0;
}

.text {
  text-align: left;
}
.projectPageButton:hover {
  background-color: var(--secondary-color) !important;
}
.projectPageButton:active {
  transform: scale(1.2) !important;
}

.projectPageButtonsDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.imgDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.imgDiv img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}
.imgDiv video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.bidVideoDiv {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bidVideoDiv video {
  width: 60%;
  height: 60%;
  object-fit: contain;
  border-radius: 20px;
}

.msgImgDiv {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
  flex-direction: row;
  justify-content: center;

  position: relative;
}

.msgImgDiv img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;

  position: relative;
}

@media (max-width: 486px) {
  .Ul {
    max-width: 220px;
    padding: 10px;
  }

  .projectPageMsgImgDiv {
    width: 250px;
    height: 250px;
  }
  .logoImg {
    width: 100px;
    height: 100px;
  }
  .logoH1Div {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .iconButtonsDiv {
    display: flex;
    flex-direction: row;
  }

.projectCard {
  width: 80vw;
  height: 100%;
  padding: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  align-self: center;
  justify-self: center;
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .projectPageMsgImgDiv {
    width: 100% ;
    max-width: 250px;
    height: 200px;
    margin: 10px;
  }
}

@media (min-width: 487px) and (max-width: 768px) {
  .Ul {
    max-width: 400px;
  }

  .projectPageMsgImgDiv {
    width: 450px;
    height: 450px;
  }

  .logoImg {
    width: 150px;
    height: 150px;
  }

  .logoDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
  }
}
