.cardMediaDiv {
  width: 400px;
  height: 220px;
  min-width: 300px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  overflow: visible;
}

.cardImgDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 50vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 20px;
  pointer-events: none;
}
.cardImg {
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
    scale: 1.8;

    border: none;

    box-shadow: 0 0 40px 10px var(--secondary-color-2), 0 0 0 4px rgba(0,0,0,0.2);
}

.cardMedia{
    width: 100%;
    height: 100%;

    object-fit: contain;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;

    display: block;
}

.video{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: var(--tertiary-color-2);
    border: 5px solid var(--secondary-color);
    scale: 1.2;
}

.portfolioPageDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 60px;
}