.cardMediaDiv{
  width: 400px;
  height: 220px;
   min-width: 300px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
padding-top: 20px;
  overflow: visible;




}

